<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.analogue.alfred-analogue</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6A6DB700-F985-43B3-B94F-9221CAB565B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C8E1972-4050-44C6-98E2-82B786BF5A3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D85FC4D3-B2C3-4574-A8E2-02496B56360B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58264603-EF39-46CD-80AE-7BF464FEB4E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joel and Hugh</string>
	<key>description</key>
	<string>Toolkit to enhance how you share what inspires you</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Analogue</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>goto analogue</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D85FC4D3-B2C3-4574-A8E2-02496B56360B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>58264603-EF39-46CD-80AE-7BF464FEB4E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue profile</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Goto analogue profile</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app/@{var:username}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app/activity</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue activity</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Check analogue actvity</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A6DB700-F985-43B3-B94F-9221CAB565B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>analogue content</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>grabbing data</string>
				<key>script</key>
				<string>python analogue.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>analogue content</string>
				<key>title</key>
				<string>analogue content</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C8E1972-4050-44C6-98E2-82B786BF5A3C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>58264603-EF39-46CD-80AE-7BF464FEB4E0</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6A6DB700-F985-43B3-B94F-9221CAB565B3</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>7C8E1972-4050-44C6-98E2-82B786BF5A3C</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>D85FC4D3-B2C3-4574-A8E2-02496B56360B</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>username</key>
		<string>hugh</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>username</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://analogue.app</string>
</dict>
</plist>
