<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.analogue.alfred-analogue</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1BD39F55-BA8C-424F-929F-4CB8B5D29344</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D1731F6-9942-434E-86B2-86443C453F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A6DB700-F985-43B3-B94F-9221CAB565B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C8E1972-4050-44C6-98E2-82B786BF5A3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE0A1DBE-A6DC-4496-AB72-F19CE5E69D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38827925-9108-4457-924E-1C1AA1518DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8760751-7197-4E49-970F-5F73BBF67CAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38827925-9108-4457-924E-1C1AA1518DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D85FC4D3-B2C3-4574-A8E2-02496B56360B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58264603-EF39-46CD-80AE-7BF464FEB4E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E634CC64-C6DD-46DD-8766-F014863DB364</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BD39F55-BA8C-424F-929F-4CB8B5D29344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joel and Hugh</string>
	<key>description</key>
	<string>Toolkit to enhance how you share what inspires you</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Analogue</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>analogue users</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing users information</string>
				<key>script</key>
				<string>python search_users.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>analogue users</string>
				<key>title</key>
				<string>analogue users</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8760751-7197-4E49-970F-5F73BBF67CAF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>goto analogue</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D85FC4D3-B2C3-4574-A8E2-02496B56360B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>58264603-EF39-46CD-80AE-7BF464FEB4E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>38827925-9108-4457-924E-1C1AA1518DE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue profile</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Goto analogue profile</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app/@{var:username}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>analogue search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Analogue...</string>
				<key>script</key>
				<string>python search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing to search for content on Analogue</string>
				<key>title</key>
				<string>Search Analogue</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AE0A1DBE-A6DC-4496-AB72-F19CE5E69D35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue activity</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Check analogue actvity</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A6DB700-F985-43B3-B94F-9221CAB565B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analogue.app/activity</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set +H
python auth.py {var: email} {var:password}
# python auth.py hughmil3s@gmail.com test
echo -n "username here"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BD39F55-BA8C-424F-929F-4CB8B5D29344</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Successfully logged into {var:email}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D1731F6-9942-434E-86B2-86443C453F44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analogue auth</string>
				<key>subtext</key>
				<string>analogue auth</string>
				<key>text</key>
				<string>analogue auth</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E634CC64-C6DD-46DD-8766-F014863DB364</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>analogue content</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>grabbing data</string>
				<key>script</key>
				<string>python search_user_logs.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>analogue content</string>
				<key>title</key>
				<string>analogue content</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C8E1972-4050-44C6-98E2-82B786BF5A3C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Web Site:

http://analogue.app/alfred

Twitter Account:

@analogue_app

Github page:

https://github.com/analogue-app/alfred-analogue

Packal Page:

http://www.packal.org/workflow/alfred-analogue</string>
	<key>uidata</key>
	<dict>
		<key>1BD39F55-BA8C-424F-929F-4CB8B5D29344</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>26623CD8-D50F-4C1B-9687-27CB2D16F0CF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>38827925-9108-4457-924E-1C1AA1518DE1</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>58264603-EF39-46CD-80AE-7BF464FEB4E0</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6A6DB700-F985-43B3-B94F-9221CAB565B3</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>7C8E1972-4050-44C6-98E2-82B786BF5A3C</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>7D1731F6-9942-434E-86B2-86443C453F44</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>AE0A1DBE-A6DC-4496-AB72-F19CE5E69D35</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B3F2AD8C-5C48-43E2-A3FC-F8432B4E2462</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B8760751-7197-4E49-970F-5F73BBF67CAF</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>CC8EAC3E-5E24-44A9-A8B3-3A5E76080AD0</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CE1A1383-07C6-455C-8D31-CFE7946BDBA2</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>D85FC4D3-B2C3-4574-A8E2-02496B56360B</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E634CC64-C6DD-46DD-8766-F014863DB364</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>email</key>
		<string>hughmil3s@gmail.com</string>
		<key>password</key>
		<string>kd3k.f*.NwtR!dV6r4X2</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://analogue.app</string>
</dict>
</plist>
